@font-face{
    font-family:'qingniaohuaguang';
    src:url('./qingniaohuaguang.ttf'),     
 }
body {
    padding: 0;
    margin: 0 ; 
    font-family: 'qingniaohuaguang'; 
    width:100%;
    overflow-x: hidden;
}
body html {
   font-size:1rem; 
}
/*
*
**/

